/* Add application styles & imports to this file! */;
/* .ant-descriptions-item-label{
  background-color:none!important;
  background-image: linear-gradient(180deg,#fcfcfc 0,#eee)!important;
}
.ant-card-head{
  background:none!important;
  background-image: linear-gradient(180deg,#fcfcfc 0,#eee)!important;
} */